body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/bg-darken.png");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
}

html {
  height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -200px;
}

h1 {
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 42px;
    font-family: "Comfortaa";
    line-height: 1.4;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
}

.input-box {
  position: relative;
}

.input-text {
  font-family: "Comfortaa", cursive;
  font-style: normal;
  color: #000000;
  font-size: 20px;
}

.input-box input[type="text"] {
  width: 850px;
  padding: 18px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.submit-button {
  font-size: 17px;
  padding: 25px 25px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: #FF8B72;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #FF5F3C;
}

@media (max-width: 1200px) {
  .input-text {
    font-size: 18px;
  }
  .input-box input[type="text"] {
    width: 700px;
    padding: 16px;
  }
  .submit-button {
    font-size: 15px;
    padding: 22px 22px;
  }
  .footer img {
  width: 100px;
  height: auto;
  }
}

@media (max-width: 992px) {
  .input-text {
    font-size: 16px;
  }
  .input-box input[type="text"] {
    width: 600px;
    padding: 14px;
  }
  .submit-button {
    font-size: 14px;
    padding: 20px 20px;
  }
  .footer img {
  width: 90px;
  height: auto;
  }
  h1 {
    font-size: 32px;
  }
  .error-message {
    font-size: 15px;
    padding: 10px 10px;
    margin-top: 485px;
   }
}

@media (max-width: 768px) {
  .input-text {
    font-size: 14px;
  }
  .input-box input[type="text"] {
    width: 500px;
    padding: 12px;
  }
  .submit-button {
    font-size: 12px;
    padding: 18px 18px;
  }
  .footer img {
  width: 75px;
  height: auto;
  }
  h1 {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
  .input-text {
    font-size: 13.5px;
  }
  .input-box input[type="text"] {
    width: 370px;
    padding: 10px;
  }
  .submit-button {
    font-size: 18px;
    padding: 19px 19px;
    border-radius: 20px;
    margin-top: 30px;
  }
  .footer img {
  width: 60px;
  height: auto;
  }
  h1 {
    font-size: 25px;
    margin-top: -100px;
    }
}

@media (max-width: 440px) {
  .input-text {
    font-size: 13,5px;
  }
  .input-box input[type="text"] {
    width: 330px;
    padding: 10px;
  }
  .submit-button {
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 20px;
    margin-top: 30px;
  }
  .footer img {
  width: 40px;
  height: auto;
  }
  h1 {
    font-size: 30px;
    margin-top: -100px;
    }
  .error-message {
    max-width: 250px;
    word-wrap: break-word;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer img {
  width: 100px;
  height: auto;
}

.error-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message {
    color: red;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 10px 10px;
    margin-top: 685px;
}

.loader-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
  display: none;
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  margin-top: 65px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
