<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='img/fav-main.png') }}" type="image/png">
</head>
<body>
  {% if error %}
    <div id="error-message" class="error-message">{{ error }}</div>
  {% endif %}
  <div class="container">
    <h1>Ближайшая инфраструктура</h1>
    <h2>по любому адресу 🌍</h2>
    <div class="input-box">
      <form id="userForm" action="{{ url_for('process_form') }}" method="POST">
            <input type="text" name="user_input" class="input-text" placeholder="Санкт-Петербург, Кронверкский проспект, д.49">
            <button type="submit" onclick="showLoader()" class="submit-button">🚀</button>
        </form>
    </div>
    <span id="loader" class="loader"></span>
    <script>
        function showLoader() {
            document.getElementById('loader').style.display = 'block';
            hideErrorMessage();
        }

        function hideErrorMessage() {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }
    </script>
  </div>
<div class="footer">
      <a href="https://github.com/">
    <img src="/static/img/git_logo.png">
  </a>
</div>
</body>
</html>
