<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='img/fav-main.png') }}" type="image/png">
</head>
<body>

  <div class="container">
    <div class="error-container">
      {% if error %}
        <div id="error-message" class="error-message">{{ error }}</div>
      {% endif %}
    </div>
    <h1>Ближайшие объекты<br>по любому адресу 🌍</h1>

    <div class="input-box">
    <form id="userForm" action="{{ url_for('process_form') }}" method="POST" onsubmit="return validateForm()">
        <input type="text" id="user_input" name="user_input" class="input-text" placeholder="Санкт-Петербург, Кронверкский проспект, д.49" value="{{ user_input if user_input else '' }}">
        <button type="submit" class="submit-button">🚀</button>
    </form>
</div>

<div class="loader-container">
    <span id="loader" class="loader"></span>
</div>

<script>
    function showLoader() {
        document.getElementById('loader').style.display = 'block';
        hideErrorMessage();
    }

    function hideErrorMessage() {
        var errorMessage = document.getElementById('error-message');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }

    function validateForm() {
        var userInput = document.getElementById('user_input').value.trim();
        if (userInput === "") {
            return false;
        } else {
            showLoader();
            return true;
        }
    }
</script>


  </div>

<div class="footer">
  <a href="https://github.com/userpyone/nerby_points">
    <img src="/static/img/git_logo.png">
  </a>
</div>

</body>
</html>
